<footer class="footer">
   <p>All right reserved @drcyberx</p>
   <p class="socialMedial">follow us on : <a href="/">Twitter</a> | <a href="/">Youtube</a> | <a href="/">Instagram</a>
      | <a href="/">Facebook</a></p>
</footer>
</body>

</html>
