<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>i-Weather</title>
   <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
   <nav class="navbar">
      <div class="logo">
         <h2> <a href="/">i~Weather</a> </h2>
      </div>
      <form action="/" method="POST">
         <input type="text" class="city-input" placeholder="Search by city..." name="cCity">
         <button class="btn" type="submit"></button>
      </form>

      <div class="about-section">
         <p>Help</p>
      </div>
   </nav>
