<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>i-Weather</title>
   <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
   <nav class="navbar">
      <div class="logo">
         <h2> <a href="/">i~Weather</a> </h2>
      </div>
      <form action="/" method="POST">
         <input type="text" class="city-input" placeholder="Search by city..." name="cCity">
         <button class="btn" type="submit"></button>
      </form>

      <div class="about-section">
         <p class="p1" onclick="aboutDropDown()">i</p>
         <div  id='dropdownAuth' class="dropdownAuthor">
            <div class="myimg">
               <img class="img1" src="/public/img/drcyberlogo.png" alt="">
            </div>
            <div class="about">
               <p>Hello guys , this is vishal aka drcyberx the builder of this website .I created this website for just a practise of my programming skills</p>
            </div>
            <div class="social-medial">
               <a href="https://www.youtube.com/channel/UCjObdZF-hT-co2VfKeTuOfA"><img class="img2" src="/public/img/yt.png" alt="" ></a>
               <a href="https://twitter.com/drcyberx"><img class="img3" src="/public/img/twt.png" alt="" ></a>
               <a href="https://github.com/Dr-CyberX"><img  class="img4" src="/public/img/gth.png" alt="" ></a>
            </div>
         </div>
      </div>
   </nav>
