@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
*{
   margin: 0;
   padding: 0;
}
body{
   height: 100vh;
   overflow-y: scroll;
}
body::before{
   content: "";
   background: url('/public/img/P-wind.gif') no-repeat center center / cover;
   background-repeat: no-repeat;
   background-size: cover;
   top: 0;
   right: 0;
   height: 110vh;
   width: 100%;
   opacity: 1;
   position: absolute;
   z-index: -1;
   filter: brightness(0.4);
   filter: blur(5px);
}
.navbar{
   height: 90px;
   width: 100%;
   background-color: rgb(4, 4, 4 , 0.6);
   box-shadow: 0.2px 0.2px 5px rgb(17, 17, 17);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.logo{
   width: 20%;
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: white;
   font-family: 'Sansita Swashed', cursive;
}
.logo h2 a{
   text-decoration: none;
   color: rgb(255, 255, 255);
   transition: color 0.2s ease-in-out;
}

.logo h2 a:hover{
   color: rgb(255, 255, 255);
   text-shadow: 0.2px 0.2px 5px rgb(55, 55, 55);
}

form{
   width: 50%;
   /* border: 2px solid red; */
   display: flex;
   flex-direction: row;
   text-align: center;
}
.city-input{
   width: 40%;
   height: 60%;
   margin: auto;
   border: none;
   outline: none;
   border-radius: 20px 0px 0px 20px;
   background-color: rgb(249, 249, 249 , 0.98);
   font-size: 1rem;
   padding: 0px 5px 0px 15px;
   color: rgb(45, 45, 45);
   overflow: hidden;
   margin-right: 0;
}

.btn{
   width: 100px;
   height: 60%;
   margin: auto;
   background-image: url('/public/img/search.png');
   background-size: 30px;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: exclusion;
   border-radius: 0px 20px 20px 0px;
   border: none;
   margin-left: 0;
   background-color: rgb(242, 242, 242);
   transition: all 0.2s ease-in-out;
}
.btn:hover{
   background-color: rgb(216, 216, 216);
}
.about-section{
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   width: 20%;
}
.about-section p{
   color: white;
}

.first-section , .second-section{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 360px;
}
.s1box-1 , .s1box-2{
   width: 35%;
   height: 70%;
   border: 2px solid rgb(221, 221, 221);
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.645);
   background-blend-mode: screen;
   color: white;
   text-align: center;
   margin-top: 50px;
   border-radius: 7px;
}
.s1box-1 h3, .s1box-2 h3{
    font-size: 2.2rem;
}

.s2box-1 , .s2box-2{
   width: 35%;
   height: 70%;
   border: 2px solid rgb(221, 221, 221);
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.645);
   background-blend-mode: screen;
   color: white;
   text-align: center;
   margin-top: 50px;
   border-radius: 7px;
}
.s2box-1 h3, .s2box-2 h3{
    font-size: 2.2rem;
}

.s-header{
   display: flex;
   justify-content: space-around;
}
.container{
   width: 800px;
   border: 2px solid rgb(221, 221, 221);
   margin: auto;
   text-align: center;
   height: 320px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 150px;
   color: #ffffff;
   border-radius: 7px;
   background-color: rgba(0, 0, 0, 0.645);
   background-blend-mode: screen;
}

.container h3{
   margin-bottom: 50px;
   font-size: 2.2rem;
}
.aboutweather{

}
/* .footer{
   height: 70px;
   display: flex;
   border: 2px solid red;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 20px;
   background-color: rgb(4, 4, 4 , 0.6);
   box-shadow: 0.2px 0.2px 5px rgb(17, 17, 17);
   margin-top: 44px;
   position: botttom;
   color: white;
   position: fixed;
   width: 100%;
   bottom: -110px;
} */
.footer{
   background-color: rgb(4, 4, 4 , 0.6);
   box-shadow: 0.2px 0.2px 5px rgb(17, 17, 17);
      padding-top: 10px;
      padding-bottom: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      color: white;
      position:fixed;
      bottom:0;
      width:100%;
}
